p, .review {
  font-weight: 200;
}

.review, .limit {
  margin-left: 10px;
}

.reviewList {
  margin-top: 10px;
}

h1 {
  font-size:45px;
  font-weight:500;
}

li {
  overflow: auto;
}

.item {
  padding-bottom: 20px;
}

img {
  width: 140px;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.extra-right-padding {
  padding-right: 30px;
}

.row {
  margin-bottom: 20px;
}

submit-review {
  height: 0;
}

textarea {
  resize:none;
}
